body {
  background-color: yellow;
}

.App, .modal h2, .modal h1 {
  text-align: center;
}

#main {
  display: flex;
  justify-content: center;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  background-color: yellow;
}

#boardDiv td {
  overflow: hidden;
  width: 34px;
  height: 34px;
  padding: 1px;
  background-color: #181819;
  box-sizing: border-box;
}

.pacman, .coin {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  font-weight: bold;
}

.right {
  background-image: url("assets/pacman-r.png") !important;
}

.left {
  background-image: url("assets/pacman-l.png") !important;
}

.up {
  background-image: url("assets/pacman-u.png") !important;
}

.down {
  background-image: url("assets/pacman-d.png") !important;
}

.pacman.success {
  background-color: green !important;
}

.pacman.failure {
  background-color: red !important;
}

.coin {
  background-image: url("assets/coin.png") !important;
}

#boardDiv {
  padding: 10px;
  background-color: #181819;
}

#boardDiv, #panel {
  display: inline-block;
  border-radius: 10px;
}

#panel {
  margin-left: 0%;
  width: 374px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  background-color: #181819;
  color: whitesmoke;
  opacity: 0.9;
}

#logo {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

#panel div {
  text-align: center;
}

#panel h2 img {
  height: 24px;
}

#panel button {
  height: 50px;
  background-color: yellow;
  color: #181819;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:yellow;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* pretty radio */

label {
  cursor: pointer;
}

label > input[type="radio"] {
  display: none;
}

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

label > input[type="radio"]:checked + * {
  color: yellow;
}

label > input[type="radio"]:checked + *::before {
  background: radial-gradient(yellow 0%, yellow 40%, transparent 50%, transparent);
  border-color: yellow;
}

label > input[type="radio"] + * {
  display: inline-block;
  padding: 0.4rem 0.1rem;
}

#question {
  height: 100px;
  background-color: yellow;
  color: #181819;
  border-radius: 5px;
  font-size: 18px;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

#questionBox, #score, #lives, #ipaSampa, #paceSelector {
  margin: 15px 12px;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px 2px;
}

#score, #lives, #ipaSampa, #paceSelector {
  font-family: 'Courier New', Courier, monospace;
}

.inactive {
  background-color: grey;
  font-style: italic;
}

#score span {
  display: inline-block;
  color: orange;
  text-decoration: peru;
  font-size: 30px;
}

#lives span {
  margin-left: 2px;
  width: 30px;
  display: inline-block;
}

.modal {
  background-color: yellow;
  width: 1400px;
  height: 600px;
  font-size: 28px;
  border: 5px solid black;
}

.modal button {
  float: right;
  color: yellow;
  border: 1px solid orange;
  border-radius: 5px;
  margin: 5px;
  font-size: 25px;
  background-color: #181819;
  width: 50px;
  height: 40px;
}

#mistakes_table {
  margin: auto;
}

#mistakes_table td {
  border: 1px solid black;
  padding: 5px 20px;
}

#mistakes_table thead {
  text-align: center;
  font-weight: bold;
}

#no_mistakes {
  margin-left: 20px;
}