body {
  background-color: yellow;
}

.App, .modal h2, .modal h1 {
  text-align: center;
}

#main {
  display: flex;
  justify-content: center;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  background-color: yellow;
}

#boardDiv td {
  overflow: hidden;
  width: 34px;
  height: 34px;
  padding: 1px;
  background-color: #181819;
  box-sizing: border-box;
}

.pacman, .coin {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  font-weight: bold;
}

.right {
  background-image: url("assets/pacman-r.png") !important;
}

.left {
  background-image: url("assets/pacman-l.png") !important;
}

.up {
  background-image: url("assets/pacman-u.png") !important;
}

.down {
  background-image: url("assets/pacman-d.png") !important;
}

.pacman.success {
  background-color: green !important;
}

.pacman.failure {
  background-color: red !important;
}

.coin {
  background-image: url("assets/coin.png") !important;
}

#boardDiv {
  padding: 10px;
  background-color: #181819;
}

#boardDiv, #panel {
  display: inline-block;
  border-radius: 10px;
}

#panel {
  margin-left: 0%;
  width: 20%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  background-color: #181819;
  color: whitesmoke;
  opacity: 0.9;
}

#logo {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

#panel div {
  text-align: center;
}

#panel button {
  height: 50px;
  background-color: yellow;
  color: #181819;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}

#question {
  height: 100px;
  background-color: yellow;
  color: #181819;
  border-radius: 5px;
  font-size: 18px;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

#questionBox, #score, #lives {
  margin: 30px 12px;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px 2px;
}

#score, #lives {
  font-family: 'Courier New', Courier, monospace;
}

#score span {
  display: inline-block;
  color: orange;
  text-decoration: peru;
  font-size: 30px;
}

#lives span {
  margin-left: 2px;
  width: 30px;
  display: inline-block;
}

.modal {
  background-color: yellow;
  width: 1400px;
  height: 600px;
  font-size: 28px;
  border: 5px solid black;
}

.modal button {
  float: right;
  color: yellow;
  border: 1px solid orange;
  border-radius: 5px;
  margin: 5px;
  font-size: 25px;
  background-color: #181819;
  width: 50px;
  height: 40px;
}

#mistakes_table {
  margin: auto;
}

#mistakes_table td {
  border: 1px solid black;
  padding: 5px 20px;
}

#mistakes_table thead {
  text-align: center;
  font-weight: bold;
}

#no_mistakes {
  margin-left: 20px;
}